{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<a href="{% url 'home' %}">NOTES </a>
<a href="{% url 'addnote' %}">Add Note </a>
<a href="{% url 'logout' %}">Logout </a>
<br>
{% if data %}
    {% for note in data %}
    <div class="note-container">
        <b>{{note.title}}</b><br>
        {{note.content}}<br>
        <a href="{% url 'update' note.pk %}" class="action-btn">Update</a> <a href="{% url 'delete' note.pk  %}" class="action-btn">Delete</a>
        </div>
    {% endfor %}
{% else %}
EMPTY
{% endif %}

{% endblock %}